In [1]:
import pandas as pd

df = pd.read_csv('Pendapatan_train.csv')
df_test = pd.read_csv('Pendapatan_test.csv')
df

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,40,Wiraswasta,205047,SMA,9,Menikah LDR,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,>7jt
1,1,33,Pemerintah Lokal,298785,10th,6,Cerai,Supir,Laki2,0.0,0.0,40.0,<=7jt
2,2,26,Wiraswasta,106856,D4,11,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,0.0,40.0,<=7jt
3,3,54,Pekerja Bebas Perusahaan,117674,Sarjana,13,Menikah,Sales,Laki2,0.0,0.0,40.0,>7jt
4,4,48,Wiraswasta,268234,SMA,9,Cerai,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0,<=7jt
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28789,28789,41,Wiraswasta,244945,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,65.0,>7jt
28790,28790,32,Wiraswasta,242323,Pendidikan Tinggi,10,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,0.0,40.0,<=7jt
28791,28791,54,Wiraswasta,150999,Pendidikan Tinggi,10,Cerai,Mesin Inspeksi,Laki2,0.0,0.0,60.0,<=7jt
28792,28792,44,Wiraswasta,171615,SMA,9,Menikah,Supir,Laki2,0.0,0.0,45.0,<=7jt
28793,28793,19,Wiraswasta,292136,Pendidikan Tinggi,10,Belum Pernah Menikah,Tech-support,Perempuan,0.0,0.0,30.0,<=7jt

In [2]:
df[['id','Umur','Kelas Pekerja','Berat Akhir','Pendidikan','Jmlh Tahun Pendidikan','Status Perkawinan','Pekerjaan','Jenis Kelamin','Keuntungan Kapital','Kerugian Capital','Jam per Minggu','Gaji']].isnull().sum()

id                       0
Umur                     0
Kelas Pekerja            0
Berat Akhir              0
Pendidikan               0
Jmlh Tahun Pendidikan    0
Status Perkawinan        0
Pekerjaan                0
Jenis Kelamin            0
Keuntungan Kapital       0
Kerugian Capital         0
Jam per Minggu           0
Gaji                     0
dtype: int64

In [3]:
df['Kelas Pekerja'].unique()

array(['Wiraswasta', 'Pemerintah Lokal', 'Pekerja Bebas Perusahaan',
       'Pekerja Bebas Bukan Perusahan', 'Pemerintah Negara', '?',
       'Pemerintah Provinsi', 'Tanpa di Bayar', 'Tidak Pernah Bekerja'],
      dtype=object)

In [4]:
#terdapat '?' didalam kolom kelas pekerja jadi harus di clean dulu
import numpy as np
df['Kelas Pekerja'].replace('?', np.nan, inplace = True)
df_test['Kelas Pekerja'].replace('?', np.nan, inplace = True)

df['Kelas Pekerja'].unique()

array(['Wiraswasta', 'Pemerintah Lokal', 'Pekerja Bebas Perusahaan',
       'Pekerja Bebas Bukan Perusahan', 'Pemerintah Negara', nan,
       'Pemerintah Provinsi', 'Tanpa di Bayar', 'Tidak Pernah Bekerja'],
      dtype=object)

In [5]:
df['Pekerjaan'].unique()

array(['Perbaikan Kerajinan', 'Supir', 'Pemuka Agama', 'Sales',
       'Pembersih', 'Servis Lainnya', 'Tech-support', 'Spesialis',
       'Ekesekutif Managerial', '?', 'Petani', 'Mesin Inspeksi',
       'Penjaga', 'Asisten Rumah Tangga', 'Tentara'], dtype=object)

In [6]:
#terdapat '?' didalam kolom pekerjaan jadi harus di clean dulu
df['Pekerjaan'].replace('?', np.nan, inplace = True)
df_test['Pekerjaan'].replace('?', np.nan, inplace = True)

df['Pekerjaan'].unique()

array(['Perbaikan Kerajinan', 'Supir', 'Pemuka Agama', 'Sales',
       'Pembersih', 'Servis Lainnya', 'Tech-support', 'Spesialis',
       'Ekesekutif Managerial', nan, 'Petani', 'Mesin Inspeksi',
       'Penjaga', 'Asisten Rumah Tangga', 'Tentara'], dtype=object)

In [7]:
df.fillna(method = 'ffill', inplace = True)
df_test.fillna(method = 'ffill', inplace = True)

In [8]:
df['Pendidikan'].unique()

array(['SMA', '10th', 'D4', 'Sarjana', 'Pendidikan Tinggi', 'D3',
       '1st-4th', '5th-6th', '9th', '11th', 'Sekolah Professional',
       '12th', 'Master', '7th-8th', 'Doktor', 'SD'], dtype=object)

In [9]:
#dibuat dalam kategori
obj_pendidikan = {
                  '1st-4th':0,
                  '5th-6th':1,
                  '7th-8th':2,
                  '9th':3,
                  '10th':4,
                  '11th':5,
                  '12th':6,
                  'SD':7,
                  'SMA':8,
                  'Pendidikan Tinggi':9,
                  'D3':10,
                  'D4':11,
                  'Sarjana':12,
                  'Master':13,
                  'Doktor':14,
                  'Sekolah Professional':15
}

obj_gaji = {'>7jt':1, '<=7jt':0}
df['Pendidikan'].replace(obj_pendidikan, inplace = True)
df_test['Pendidikan'].replace(obj_pendidikan, inplace = True)

df['Gaji'].replace(obj_gaji, inplace = True)

In [10]:
df = pd.get_dummies(df, columns=['Kelas Pekerja', 'Status Perkawinan', 'Pekerjaan', 'Jenis Kelamin'])

df_test = pd.get_dummies(df_test, columns=['Kelas Pekerja', 'Status Perkawinan', 'Pekerjaan', 'Jenis Kelamin'])

In [11]:
df['Gaji'].unique()

array([1, 0], dtype=int64)

In [12]:
#df.drop(['Keuntungan Kapital','Kerugian Capital'], inplace = True, axis = 1)

#df_test.drop(['Keuntungan Kapital','Kerugian Capital'], inplace = True, axis = 1)

In [13]:
df

,id,Umur,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,...,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Laki2,Jenis Kelamin_Perempuan
0,0,40,205047,8,9,0.0,0.0,40.0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,1,33,298785,4,6,0.0,0.0,40.0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,2,26,106856,11,11,0.0,0.0,40.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,54,117674,12,13,0.0,0.0,40.0,1,0,...,0,0,1,0,0,0,0,0,1,0
4,4,48,268234,8,9,0.0,0.0,50.0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28789,28789,41,244945,9,10,0.0,0.0,65.0,1,0,...,0,0,0,0,0,0,0,0,1,0
28790,28790,32,242323,9,10,0.0,0.0,40.0,0,0,...,0,0,0,0,0,0,0,0,0,1
28791,28791,54,150999,9,10,0.0,0.0,60.0,0,0,...,0,0,0,0,0,0,0,0,1,0
28792,28792,44,171615,8,9,0.0,0.0,45.0,0,0,...,0,0,0,0,0,1,0,0,1,0
28793,28793,19,292136,9,10,0.0,0.0,30.0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [14]:
X = df.drop('Gaji', axis =1)
y = df['Gaji']

In [15]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
stddata = std.fit(X)
X = pd.DataFrame(stddata.fit_transform(X), columns = X.columns)

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score

In [17]:
#rfc = RandomForestClassifier()

#params = {'n_estimators':np.arange(100,1000,100),
#          'criterion': ['entropy','gini'],
#          'max_features': ['auto', 'sqrt', 'log2'],
#         } 

#rfcv = RandomizedSearchCV(rfc, params, scoring='roc_auc', cv=5)
#rfcv.fit(X, y)

In [18]:
#rscv.best_params_

In [19]:
#rscv.best_score_

In [20]:
#mantapu jiwa
#model = RandomForestClassifier(criterion='entropy', 
#                                           n_estimators=1200,
#                                           max_depth=4,
#                                           min_samples_split=4,
#                                           min_samples_leaf=5,
#                                           max_features='sqrt',
#                                           oob_score=False,
#                                           random_state=500,
#                                           )
#model.fit(X,y)

In [21]:
#model = RandomForestClassifier (
#                                n_estimators=1000, 
#                                criterion='gini', 
#                                random_state=1000, 
#                                class_weight='balanced'
#                                )
#model.fit(X, y)

In [22]:
#knn = KNeighborsClassifier()

#params = {
#    'n_neighbors' : np.arange(1,10),
#    'weights' : ['uniform','distance']
#}

#knncv = RandomizedSearchCV(knn, params, scoring = 'roc_auc', cv = 5)
#knncv.fit(X,y)

In [23]:
#knncv.best_params_

In [24]:
model = KNeighborsClassifier(
                             n_neighbors = 9,
                             weights = 'uniform',
                             )
model.fit(X,y)

KNeighborsClassifier(n_neighbors=9)

In [25]:
#model = DecisionTreeClassifier(splitter = 'random',
#                               criterion='gini', 
#                               max_depth=7,
#                               min_samples_split=5,
#                               min_samples_leaf=5,
#                               max_features='log2',
#                               random_state=110)

#model.fit(X,y)

In [26]:
#model=DecisionTreeClassifier(splitter = 'best',
#                             random_state = 32,
#                             max_depth = 8,
#                             criterion = 'entropy')
#                                         
#model.fit(X,y)

In [27]:
#model = GaussianNB()

#model.fit(X,y)

In [28]:
y_pred = model.predict(df_test)

df_test['id'] = df_test.id
df_test['Gaji'] = y_pred

print(roc_auc_score(y, model.predict(X)))

0.7796955571141732

In [29]:
df_test.drop(df_test.columns.difference(['id','Gaji']), axis=1, inplace=True)
df_test.to_csv("Result1.csv", index=False)

In [30]:
df_test['Gaji'].value_counts()

0    8813
1     786
Name: Gaji, dtype: int64

In [31]:
# 1 5209
# 0 4390
#0.74389

# 1 4715
# 0 4884
#0.77729

#1 4746
#0 4853
#0.77646

#1 5551
#0 4048
#0.74464

#1 4824
#0 4775
#0.77694

#1 4783
#0 4816
#0.77704

#1 4586
#0 5013
#0.77371

#1 4339
#0 5260
#0.76270